<h1>About</h1>
<p>This site was created to practice the Ruby on Rails authentication methods using sessions, parameters, and hashing</p>

<p>The passwords were created using a secure method of hashing, and no passwords are stored in the database, just digests of them.</p>

<p><%= link_to 'Contact me', pages_contact_path %></p>
