<%= image_tag("david.jpg", class: "david-portrait") %>
<h1>Contact</h1>

<p>This site was created to practice the Ruby on Rails authentication methods using sessions, parameters, and cookies.</p>

<p>The passwords were created using a secure method of hashing, and no passwords are stored in the database, just digests of them.</p>

<p>Designing the site was made easy by Thoughtbot's Bourbon suite of tools: <a href="http://refills.bourbon.io/">Refills</a>, <a href="http://bitters.bourbon.io/">Bitters</a>, and <a href="http://bourbon.io/">Bourbon</a>.

<p>If you like my work, give me a shout at <a href="https://twitter.com/bernheisel">@bernheisel</a> or show the hiring manager my amazing nifty super adjective-filled <a href="https://www.linkedin.com/in/bernheisel">LinkedIn</a> profile.


