<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <% if instructor? %><th></th><% end %>
    </tr>
  </thead>

  <tbody>
    <% @current_user.students.each do |s| %>
      <tr>
        <td><%= link_to s.fullname, s %></td>
        <td><%= s.email %></td>
        <% if instructor? %><td>
          <%= link_to 'Edit', edit_user_path(s) %>
          <%= link_to 'Destroy', s, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
