<table>
  <thead>
    <tr>
      <th>Email</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @current_user.instructors.each do |i| %>
      <tr>
        <td><%= i.email %></td>
        <td><%= link_to 'Show', i %></td>
      </tr>
    <% end %>
  </tbody>
</table>
