<table>
  <thead>
    <tr>
      <th>Email</th>
    </tr>
  </thead>

  <tbody>
    <% @current_user.instructors.each do |i| %>
      <tr>
        <td><%= link_to i.email, i %></td>
      </tr>
    <% end %>
  </tbody>
</table>
